<div>
    <br/><br/>
    <h2>EJS Views Example</h2>
    <div>
        <strong>First Name: </strong>  <span><%= firstName %></span>
        <br />
        <strong>Last Name: </strong>  <span><%= lastName %></span>
        <br />
        <strong>Address: </strong>  <span><%= address %></span>
    </div>
</div>