<!--
============================================
; Title:  EMS
; Author: Don Cousar
; Date:   31 March 2019
; Updated: 21 April 2019 (updated layout with simplified version, last version broke and I had to start from scratch)
; Description: EMS Project
;===========================================
-->
<!DOCTYPE html>
<html lang="en">
  <% include header %>

  <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
               <% include navbar %>   
          </div>
          <div class="col-10">
  
            <div class="welcomeMessage">
                 <h1>Employee Management System</h1>
            <p>Welcome to the EMS Home page. 
              This page has been created to view and maintain employee records.</p>
            </div>
         
          </div>
      </div>  
      </div>
      
  </body>
</html>
