<!--
============================================
; Title:  EMS
; Author: Don Cousar
; Date:   31 March 2019
; Description: EMS Project
;===========================================
-->
<!DOCTYPE html>
<html lang="en">
<% include header %>

<body>
    <% include navbar %>

    <div role="main" class="container">
        <div>
        <h1 class="display-6">Employee Management System</h1>
        <p>
            Welcome to the EMS Home page. 
            This page has been created to view and maintain employee records. 
            Stay tuned for updates!
        </p>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <h2>Directory</h2>
                <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna 
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                        laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
                <p>
                    <a class="btn btn-secondary" href="#" role="button"
                    >View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Updates</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
                <p>
                    <a class="btn btn-secondary" href="#" role="button"
                    >View details &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Learn More</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
                <p>
                    <a class="btn btn-secondary" href="#" role="button">
                    View details &raquo;</a>
                </p>
            </div>
        </div>

    </div>
        
    <% include footer %>
    <% include scripts %>
</body>
</html>


