<nav class="sidebar">
 <div class="sidebar-sticky">
   <div class="logo">
      <i class="fas fa-users"></i>
      <h2>EMS</h2>
   </div>
   
  <ul class="nav flex-column">
    <a href="/"><li><i class="fas fa-home"></i>Home</li></a>
    <a href="/list"><li><i class="fas fa-user-friends"></i>Employees</li></a>
  </ul>
</div> 

</nav>


  